
/*my code*/
html {
  padding:0;
  margin:0;
}

body {
  padding: 0;
  margin:0;
  background-image: url('assets/birb.jpg');
}

h1 {
  text-align:center;
  background-color: white;
  border-radius: 1vh;
  font-size: 64pt;
  box-shadow: 0px 0px 5px black;
}

.overall_container{
  /*border: 1px black solid;*/
}

.content_header {
  /*border: 1px pink dashed;*/
  width:auto;
  height: auto;
  padding: 5vw 10vw 5vw 10vw;
}

.content_body {
  padding:1.3vh;
}

a {
  width:fit-content;
  height:fit-content;
  font-size: 18pt;
  font-weight:bold;
}

.s_panel {
  background-color: white;
  width:40vw;
  height:fit-content;
  padding:1vw;
  border-radius: 1vw;
  font-size: 26pt;
  text-align:center;
  margin:1vh 1vw;
  display: inline-block;
  box-shadow: 0px 0px 3px black;
}

.s_panel h4 {
  padding:0 0;
  margin:0 0 0.5vh 0;
}

.s_panel img {
  border-radius: 50%;
  width:10vh;
  box-shadow: 0px 0px 2px black;
}

.s_panel p {
  font-size:16pt;
}
::-webkit-scrollbar {/*changes the width of the scrollbar*/
  width: 5px;
  background-image: url('assets/birb.jpg');
}




::-webkit-scrollbar-thumb {/*this customiszes the scroll bar thumb*/
  background: #da2c43;
  border-radius:10px;
  height:10px;


}


::-webkit-scrollbar-thumb:hover {/*this slightly changes the scrollbar thumb when hovering a mouse over it*/
  background: #b21f33;
}
